.row
  .col-md-12
    %h4
      College List
      %span
        = link_to new_college_path do
          %i.glyphicon.glyphicon-plus
    .table-responsive{"ng-controller" => "CollegesController"}
      %table#mytable.table.table-bordred
        %thead
          %th
            %input#checkall{:type => "checkbox"}
          %th Name
          %th Country
          %th SAT min score
          %th SAT max score
          %th Tuition
          %th Edit
          %th Delete
        %tbody{ 'ng-repeat' => 'college in colleges'}
          %tr
            %td
              %input.checkthis{:type => "checkbox"}
              %td
                {{ college.name }}
              %td
                {{ college.country }}
              %td
                {{ college.sat_min_score }}
              %td
                {{ college.sat_max_score }}
              %td
                {{ college.tuition }}
              %td
                %a{ "href" => "{{ '/colleges/' + college.id + '/edit'}}"}
                  %span.glyphicon.glyphicon-pencil
              %td

-# %div{"ng-controller" => "CollegesController"}
-#   %ul{"ng-repeat" => "college in colleges"}
-#     %li {{college.country}}
