!!!
%html
  %head
    %title Cialfo
    = stylesheet_link_tag    'application','https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.min.css', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      = yield

    = javascript_include_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js', 'data-turbolinks-track' => true
